@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


.game-container {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
}

.game-container h1{
    margin: 10px 0;
    color: #37343d;
}


.header{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    text-align:justify;
}


.header h4{
    text-align:justify;
    margin: 0;
    margin-left: 3%;
    
}

.rules{
    padding: 10px;
}

.table-container{
    width:calc(90%);
    height: 79vh;
   
}

.table-container td{
 border: 1px #eee solid;
}


.menus-buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
    gap: 2rem;
    min-height: 7rem;

   
}


button{
    color: white;
    background-color: #6420ff;
    border-radius: 5px;
    border-color: #6420ff;
    width:8rem;
    height: 2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

button:disabled {
    background: #ccc;
    border-color: #ccc;
    cursor: no-drop;
    color:#000;

  }